{% block staccato_listable_filters %}
{% spaceless %}
<div class="{{ class }}">
    <form method="{{ method }}" autocomplete="off">
        {{ block('staccato_listable_filters_fields') }}
        {{ block('staccato_listable_filters_buttons') }}
    </form>
</div>
{% endspaceless %}
{% endblock %}

{% block staccato_listable_filters_fields %}
{% set col = (12 / columns)|round %}
<div class="row">
{% for name, field in fields %}
    <div class="col-sm-12 col-md-{{ col }}">
        <div class="form-group">
            <div>{{ field.label }}</div>
            <div>{{ block('staccato_listable_filters_' ~ field.type ~ '_type') }}</div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block staccato_listable_filters_buttons %}
<div class="text-center">
{% if method == 'get' %}
    <button class="btn btn-primary" type="submit">{{ 'staccato.listable.filters.buttons.apply'|trans }}</button>
    <span>&nbsp;</span>
    <a class="btn btn-danger" href="{{ listable_url({}, [prefix.action, list.vars.name]) }}" rel="nofollow">{{ 'staccato.listable.filters.buttons.clear'|trans }}</a>
{% else %}
    <button class="btn btn-primary" type="submit" name="{{ prefix.action }}[action]" value="filters.apply">{{ 'staccato.listable.filters.buttons.apply'|trans }}</button>
    <span>&nbsp;</span>
    <button class="btn btn-danger" type="submit" name="{{ prefix.action }}[action]" value="filters.clear">{{ 'staccato.listable.filters.buttons.clear'|trans }}</button>
    <input type="hidden" name="{{ prefix.action }}[name]" value="{{ list.vars.name }}" />
{% endif %}
</div>
{% endblock %}

{% block staccato_listable_filters_text_type %}
<input type="text" class="{{ field.class }}" name="{{ prefix.field }}[{{ name }}]" placeholder="{{ field.placeholder }}" value="{{ field.value }}" />
{% endblock %}

{% block staccato_listable_filters_select_type %}
{% set selected = field.value %}
{% set selected = selected is iterable ? selected : [selected] %}
<select class="{{ field.class }}" name="{{ prefix.field }}[{{ name }}]{{ field.multiple ? '[]' : '' }}" {{ field.multiple ? ' multiple' : '' }}>
{% for value, option in field.options %}
    {% for subvalue, suboption in option %}
        {% if loop.first %}<optgroup label="{{ value }}">{% endif %}
        <option value="{{ subvalue }}"  {{ subvalue ~ '' in selected ? 'selected' : '' }}>{{ suboption }}</option>
        {% if loop.last %}</optgroup>{% endif %}
    {% else %}
    <option value="{{ value }}" {{ value ~ '' in selected ? 'selected' : '' }}>{{ option }}</option>
    {% endfor %}
{% endfor %}
</select>
{% endblock %}

{% block staccato_listable_filters_checkbox_type %}
{% set checked = field.value %}
{% set checked = checked is iterable ? checked : [checked] %}
{% for value, label in field.options %}
<div class="form-check">
    <label class="form-check-label">
        <input type="checkbox" class="{{ field.class }}" name="{{ prefix.field }}[{{ name }}][]" value="{{ value }}" {{ value ~ '' in checked ? 'checked' : '' }}>
        {{ label }}
    </label>
</div>
{% endfor %}
{% endblock %}

{% block staccato_listable_filters_radio_type %}
{% for value, label in field.options %}
<div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="{{ field.class }}" name="{{ prefix.field }}[{{ name }}]" value="{{ value }}" {{ value ~ '' == field.value ? 'checked' : '' }}>
        {{ label }}
    </label>
</div>
{% endfor %}
{% endblock %}