{% block staccato_listable_table %}
{% spaceless %}
{% if list.vars.data|length > 0 %}
<table class="{{ class }}">
    {{ block('staccato_listable_table_head') }}
    <tbody>
    {% for index, data in list %}
        {{ block('staccato_listable_table_row') }}
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ block('staccato_listable_table_no_results') }}
{% endif %}
{% endspaceless %}
{% endblock %}

{% block staccato_listable_table_row %}
<tr>
    {% for column in columns %}
    <td>{{ column.property ? (column.property is iterable ? attribute(data, 
        column.property[0], column.property[1]) : attribute(data, column.property)) : '-' }}</td>
    {% endfor %}
</tr>
{% endblock %}

{% block staccato_listable_table_head %}
<thead>
    <tr>
        {% for column in columns %}
        <th>
        {% if column.sort %}
            {% set sorterType = list.vars.options.sorter.type %}
            {% set paramAsc = list.vars.params.sorter.asc %}
            {% set paramDesc = list.vars.params.sorter.desc %}
            <a href="{{ listable_url({(sorterType == 'asc' ? paramDesc : paramAsc): column.sort}, 
                [sorterType == 'asc' ? paramAsc : paramDesc]) }}">
                <span title="{{ column.tooltip }}">{{ column.title }}</span>
                {% if list.vars.options.sorter.name == column.sort %}
                <span class="{{ sorterType == 'asc' ? 'arrow down' : 'arrow up' }}"></span>
                {% endif %}
            </a>
        {% else %}
            <span title="{{ column.tooltip }}">{{ column.title }}</span>
        {% endif %}
        </th>
        {% endfor %}
    </tr>
</thead>
{% endblock %}

{% block staccato_listable_table_no_results %}
<div>{{ 'staccato.listable.table.no_results'|trans }}</div>
{% endblock %}